
Day 6/Python/.idea/inspectionProfiles/profiles_settings.xml
Day 6/Python/.idea/inspectionProfiles/Project_Default.xml
Day 6/Python/.idea/misc.xml
Day 6/Python/.idea/modules.xml
Day 6/Python/.idea/Python.iml
Day 6/Python/.idea/vcs.xml
Day 6/Python/.idea/workspace.xml
